* {
  margin: 0%;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  color: #1f1f1f;
}

.logo {
  width: 80%;
  object-fit: cover;
}

nav {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  align-items: center;
}

ul {
  display: flex;
  list-style-type: none;
}

ul a {
  text-decoration: none;
  color: #46352a;
}

ul li {
  width: 100px;
}

h1 h2 {
  font-family: "Vollkorn SC", serif;
  font-style: normal;
  font-weight: 200;
}

body {
  background-color: #f2efee;
}

#imgProduit {
  width: 50%;
  object-fit: cover;
}

.sect1 {
  display: flex;
}

#sectH1 {
  width: 100%;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: #46352a;
}

footer {
  background-color: #46352a;
  color: #f2efee;
}

h1 {
  font-weight: 200;
  font-size: 25px;
  color: #f2efee;
}

.figCap {
  border: solid 1px;
  border-color: #46352a;
  color: #46352a;
  width: 13%;
  height: auto;
  padding: 1.5%;
  font-size: 15px;
  text-align: center;
}

/* #imgP{
    border: solid 1px;
    width: 13%;
    text-align: center;
} */

#h2P {
  text-align: center;
  margin-bottom: 4%;
}

#h2P h2 {
  margin-bottom: 2%;
}

#sectFigCapP {
  display: flex;
  flex-direction: column;
  padding: 5%;
}

#sectFigCap {
  display: flex;
  justify-content: center;
  gap: 2%;
}

h2 {
  font-size: 20px;
}
